:root { 
  --fff0c2: #ffffff;
  --licorice: #121212;
 
  --font-size-m: 35px;
  --font-size-s: 30px;
  --font-size-xs: 25px;
 
  --font-family-adobe_clean: "Adobe Clean", Helvetica;
  --font-family-adobeclean-bold: "AdobeClean-Bold", Helvetica;
  --font-family-adobeclean-regular: "AdobeClean-Regular", Helvetica;
}
.adobeclean-regular-normal-licorice-25px {
  color: var(--licorice);
  font-family: var(--font-family-adobeclean-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
